@media only screen and (min-width: 1024px) {
    .menu-type--dinner {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu-type--lunch {
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(/img/menu-joeyMenu.png) no-repeat center;
        background-size: 200px;
    }
}